<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.tao.bt10.mapper.DataChangeLogsMapper">

    <resultMap type="com.geek.tao.bt10.domain.DataChangeLogs" id="DataChangeLogsResult">
        <result property="id" column="id" />
        <result property="tableName" column="table_name" />
        <result property="recordId" column="record_id" />
        <result property="changeType" column="change_type" />
        <result property="fieldName" column="field_name" />
        <result property="oldValue" column="old_value" />
        <result property="newValue" column="new_value" />
        <result property="changeReason" column="change_reason" />
        <result property="operatorId" column="operator_id" />
        <result property="operatorType" column="operator_type" />
        <result property="ipAddress" column="ip_address" />
        <result property="userAgent" column="user_agent" />
        <result property="changedTime" column="changed_time" />
        <result property="metadata" column="metadata" />
        <result property="remark" column="remark" />
    </resultMap>

</mapper>
