<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.tao.bt10.mapper.KnowledgeActionMapper">

    <resultMap type="com.geek.tao.bt10.domain.KnowledgeAction" id="KnowledgeActionResult">
        <result property="id" column="id" />
        <result property="contentId" column="content_id" />
        <result property="actionType" column="action_type" />
        <result property="userId" column="user_id" />
        <result property="createId" column="create_id" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateId" column="update_id" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
        <result property="remark" column="remark" />
    </resultMap>

</mapper>
