package ${packageName}.mapper;

import ${packageName}.domain.${ClassName};
import com.mybatisflex.core.BaseMapper;

/**
 * ${functionName} 数据层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {

}
